.section--header {
	height: 136px;
}

.wrapper {
	display: flex;

	.studio {
		flex-grow: 1;
		height: calc(100vh - 136px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		.section {
			border: 1px solid red;

			&.section--canvas-wrapper {
				flex-grow: 1;
				padding: 20px;
				display: flex;
				flex-direction: column;

				.section--canvas {
					transition: all ease 0.5s;
					border: 4px dashed #ccc;
					margin-left: auto;
					margin-right: auto;
				}
			}

			&.section--footer {
				.tools--container {
					display: none;

					&.show {
						display: block;
					}
				}
			}
		}
	}

	.config {
		padding: 20px;
		.config--container {
			display: none;

			&.show {
				display: block;
			}

			.config--list {
				margin: 0;
				padding: 0;
				list-style-type: none;

				.current {
					color: red;
				}
			}
		}
	}
}
